<ion-view view-title="Messages">
  <ion-content>
    <div ng-repeat="message in vm.messages" ng-class="{other: message.for !== vm.client._id}" class="messages">
      <div class="message">
          <span class="message" ng-init="vm.showMsg($last)">{{message.text}}</span>
      </div>
    </div>
  </ion-content>
  <form ng-submit="vm.sendMessage()">
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="vm.sendMessage()" ng-model="vm.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
    <button class="button button-clear" ng-click="vm.sendMessage()">
      Send
    </button>
  </ion-footer-bar>
  </form>
</ion-view>
