<ion-view view-title="Session">
  <ion-content>
    <div class="item item-avatar" style="border: 0px none;">
      <img ng-src="{{ vm.instructor.profileImg }}">
      <h2>{{ vm.instructor.name }}</h2>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Apr 24 - 30, 2016
      </div>
      <ion-checkbox
          ng-model="task.isDone"
          ng-repeat="task in vm.tasks"
          style="font-size: 14px;"
          ng-click="vm.sendUpdate(task.isDone)" >
          {{ task.details }}
      </ion-checkbox>
    </div>
  </ion-content>
</ion-view>
