<ion-view view-title="Profile">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <div class="row">
          <div class="col">
            <h2>{{vm.instructor.name}}</h2>
          </div>
          <div class="col">
            <button class="button button-small button-assertive" ng-click="vm.zubscribe()">
              Subscribe
            </button>
          <br>
            <button class="button button-small button-positive chat">
              Contact
            </button>
          </div>
        </div>

      <div class="item item-body">

        <p>{{vm.instructor.description}}</p>
<br>
            <div class='skill'>
              <h2>Skills:</h2>
              <div ng-repeat="skill in vm.instructor.skills">
                {{skill}}
              </div>
            </div>

      </div>

    </div>

  </div>




  </ion-content>
</ion-view>
