<ion-view view-title="Profile">
  <ion-content>
    <h1>Profile</h1>

    <div class="row">
      <div class="col">
        <img ng-src={{vm.instructor.profileImg}}>
      </div>
      <div class="col">
        <h2>{{vm.instructor.name}}</h2>
        <p>{{vm.instructor.description}}</p>
      </div>
      <div class="col">
        <button class="button button-small button-assertive">
          Subscribe
        </button>
      <br>
      <button class="button button-small button-positive">
        Chat
      </button>
      </div>
    </div>

    <div class='skill'>
      <div ng-repeat="skill in vm.instructor.skills">
        {{skill}}
      </div>
    </div>

  </ion-content>
</ion-view>
